.alert {
    margin-bottom: 0 !important;
}

.bg-dark {
    background-color: #03274a!important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #cde1f6;
    border-radius: 0.3rem;
}