<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap - Alerts</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="alert alert-primary" role="alert">
        It is a info alert box.  <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-secondary" role="alert">
        It is a grey color info box. <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-success" role="alert">
        It is a successfull response alert box. <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-danger" role="alert">
        It is a Failure response alert box. <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-warning" role="alert">
        It is a Warning response alert box. <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-info" role="alert">
        It is a info response alert box. <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-light" role="alert">
        It is a light response alert box. <a href="#" class="alert-link">an example link</a>.
      </div>
      <div class="alert alert-dark" role="alert">
        It is a dark response alert box.  <a href="#" class="alert-link">an example link</a>.
      </div>
    </div>

    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
          </div>
    </div>

    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
