<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap - Alerts</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge badge-light">100</span>
      </button>

      <button type="button" class="btn btn-primary">
        Profile <span class="badge badge-light">9</span>
        <span class="sr-only">unread messages</span>
      </button>
    </div>

    <div class="container">
      <a href="#" class="badge badge-primary">Primary</a>
      <a href="#" class="badge badge-secondary">Secondary</a>
      <a href="#" class="badge badge-success">Success</a>
      <a href="#" class="badge badge-danger">Danger</a>
      <a href="#" class="badge badge-warning">Warning</a>
      <a href="#" class="badge badge-info">Info</a>
      <a href="#" class="badge badge-light">Light</a>
      <a href="#" class="badge badge-dark">Dark</a>
    </div>

    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
